{% load static %}
{% load pwa %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Appointments</title>
    <link rel="manifest" href="{% static 'assets/manifest.json' %}"> 
    <link rel="shortcut icon" href="{% static 'assets/img/mahi.png' %}">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Icons CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.0.0/css/all.min.css"/>

    <!-- Custom Styles -->

    <!-- jQuery DateTimePicker CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">

    <style>
        .navbar-orange {
            background-color: #A52028;
            box-shadow: 0px 4px 8px;
        }

        .navbar-brand {
            color: white;
        }

        .label-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: 2%;
            margin-right: 2%;
            margin-bottom: 5px;

        }

        .label-row label {
            font-size: 20px;
            padding: 0px;
            margin-bottom: 0%;
            margin-top: 0%;
            color: inherit;
            text-decoration: none;
    
        }

        .btn {
            font-size: 16px;
            border-radius: 5px;
        }

        input[type="date"] {
            max-width: 100%;
            box-sizing: border-box;
            padding: 10px;
        }

        a {
            text-decoration: none;
            color: inherit;
            cursor: default;
        }

        a:hover {
            color: inherit;
        }

        .icon {
        font-size: 50px; /* Adjust the font size as needed */
        }
        .data-item{
            background-color: #f2a979;
            border-radius: 10px;
        }
         /* Custom CSS for Appointment Statistics */
        .card-body {
            padding: 1rem; /* Adjust padding as needed */
        }

        .card-body p {
            font-size: 16px; /* Adjust font size as needed */
            margin-bottom: 0; /* Remove bottom margin to align with card layout */
        }

        .card-body span {
            font-weight: bold; /* Optionally apply bold font weight to statistic values */
            color: #008373; /* Customize text color */
        }

        .messages {
            position: fixed;
            top: 10%;
            right: 10%;
            z-index: 1000;
            max-width: 300px;
        }

        .message {
            padding: 10px;
            margin-bottom: 10px;
            color: #fff;
            border-radius: 5px;
            transition: opacity 0.5s ease-out;
        }

        .message.success {
            background-color: #4caf50;
        }

        .message.error {
            background-color: #f44336;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-orange fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href='/MahiEHR/dashboard/'><i class="fas fa-arrow-left"></i> Appointment</a>
            <input type="date" id="dateInput" name="dateInput" value="">
        </div>
    </nav>

    {% if messages %}
        <div id="messages-container" class="messages">
            {% for message in messages %}
            <div class="message{% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</div>
            {% endfor %}
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var messagesContainer = document.getElementById('messages-container');
                if (messagesContainer) {
                    setTimeout(function() {
                        messagesContainer.style.opacity = '0';
                        setTimeout(function() {
                            messagesContainer.style.display = 'none';
                        }, 500);
                    }, 2000);
                }
            });
        </script>
    {% endif %}

    <div class="d-flex justify-content-between" style="margin-top: 24%;">
        <button class="btn btn-primary filter-btn" data-status="1" style="margin-left:1%;margin-right: 1%;background-color: #A52028; border-color:#A52028;" >Uncompleted</button>
        <button class="btn btn-primary filter-btn" data-status="2" style="background-color: #A52028; border-color:#A52028;" >Partially Completed</button>
        <button class="btn btn-primary filter-btn" data-status="3" style="margin-right: 1%;margin-left: 1%;background-color: #A52028; border-color:#A52028;" >Completed</button>
    </div>
    <!-- Add a new card block to display appointment stats -->
    <div class="card mt-1">
        <div class="card-body" style="padding-top: 0;padding-bottom: 0;padding-left: 0;">
            <h5 class="card-title" style="display: inline-block;">Appointments: </h5> <span id="totalAppointments"></span>
            <div class="row">
                <div class="col-md-12">
                    <!-- Display Appointment Statistics in a Single Line -->
                    <p> 
                       Pending: <span id="pendingAppointments"></span> &nbsp;&nbsp;
                       Partially: <span id="partiallyCompletedAppointments"></span> &nbsp;&nbsp;
                       Paid: <span id="paidAppointments"></span> &nbsp;
                       Unpaid: <span id="completedAppointments"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% if role == 'Doctor' %}
    <div class="card mt-2">
        <div class="card-body" style="padding-top: 0;padding-bottom: 0;padding-left: 0;">
            <h5 class="card-title" style="display: inline-block;">Collection: </h5> <span id="totalAmount"></span>
            <div class="row"> 
                <div class="col-md-12">
                    <p>
                        Paid: <span id="paidAmount"></span>&nbsp;&nbsp;
                        Unpaid: <span id="unpaidAmount"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {%endif%}
    <div id="data-container">
         
    </div>
     
     <!-- Placeholder message for no appointments -->
     <div id="noAppointmentsMessage" style="display: none;">
        <p style="font-size: 20px;margin-top: 20px;color:white; background-color: #f5873e">No appointments found for Today</p>
    </div>


     <script>
        document.addEventListener('DOMContentLoaded', function () {
             // Declare the data variable outside the event listener function
            // Get the current date and format it as 'YYYY-MM-DD'
            var currentDate = new Date().toISOString().split('T')[0];
            // Set the initial value of the date input
            document.getElementById('dateInput').value = currentDate;
            const filterButtons = document.querySelectorAll('.filter-btn');
            const dataContainer = document.getElementById('data-container');
            const role = "{{ role }}"; // Retrieve the role value passed from Django view
            console.log('role',role);

    
            filterButtons.forEach(button => {
                button.addEventListener('click', function () {
                    const status = parseInt(this.getAttribute('data-status'));
                    filterData(status);
                });
            });
    
            // Function to fetch data based on date
            function fetchData(selectedDate) {
                $.ajax({
                    type: 'POST',
                    url: '/MahiEHR/fetch_data/',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}', // Include the CSRF token
                        selectedDate: selectedDate,
                    },
                    success: function (response) {
                        // Handle the API response data
                        updateData(response);
                    }
                });
            }
    
            // Fetch data based on default date (today)
            var currentDate = new Date().toISOString().split('T')[0];
            fetchData(currentDate);
    
            // Event listener for date input change
            $('#dateInput').on('change', function () {
                var selectedDate = $(this).val();
                fetchData(selectedDate);
            });
    
            // Function to filter data based on status
            // function filterData(status) {
            //     const dataItems = document.querySelectorAll('.data-item');
            //     dataItems.forEach(item => {
            //         if (status === 0 || parseInt(item.getAttribute('data-status')) === status) {
            //             item.style.display = 'block';
            //         } else {
            //             item.style.display = 'none';
            //         }
            //     });
            // }
            function filterData(status) {
                    const dataItems = document.querySelectorAll('.data-item');
                    let appointmentFound = false;

                    dataItems.forEach(item => {
                        if (status === 0 || parseInt(item.getAttribute('data-status')) === status || (status === 3 && (parseInt(item.getAttribute('data-status')) === 3 || parseInt(item.getAttribute('data-status')) === 4))) {
                            item.style.display = 'block';
                            appointmentFound = true;
                        } else {
                            item.style.display = 'none';
                        }
                    });

                    // Show "No appointments found" message if no appointments match the selected filter
                    if (!appointmentFound) {
                        const noAppointmentsMessage = document.getElementById('noAppointmentsMessage');
                        noAppointmentsMessage.style.display = 'block';
                    } else {
                        const noAppointmentsMessage = document.getElementById('noAppointmentsMessage');
                        noAppointmentsMessage.style.display = 'none';
                    }
                }
             
            // Function to update the data in the HTML
            function updateData(data) {
                if (data.length === 0) {
                    // If no appointments are found, display the placeholder message
                    document.getElementById('noAppointmentsMessage').style.display = 'block';
                    // Hide the data container
                    dataContainer.style.display = 'none';
                } else {
                // Assuming that data is an array of appointments
                    const html = data.map(appointment => {
                        const link = getAppointmentLink(appointment);
                        
                        return `
                        
                            <a href="${link}">
                                 
                                <div class="data-item" data-status="${appointment.appointment_status}">
                                    <input type="hidden" name="appointment_id" value="${appointment.appointment_id}" />
                                    <hr>
                                    <div class="label-row">
                                        <label for="label1" id="disabledLink" class="label-link"><i class="fa-solid fa-circle-info me-1" style=" font-size: 20px;cursor: pointer;" onclick="handleInfoIconClick(event)" data-appointment-id="${appointment.appointment_id}"></i>${appointment.appointment_name}</label>
                                        <label for="label2" id="disabledLink" class="label-link"><i class="fa-solid fa-user-group" style="color: #008373;"></i> ${appointment.appointment_token}</label>
                                         
                                    </div>
                                    <div class="label-row">
                                        <div>
                                        ${appointment.appointment_gender !== 0 ? `<label  for="label1"><i class="fa-solid fa-person-dress me-2" style="color: rgb(208, 91, 110); font-size: 30px;"></i></label>` : ''}
                                        ${appointment.appointment_gender === 0 ? `<label  for="label1"><i class="fa-solid fa-person me-2" style="color: blue; font-size: 30px;"></i></label>` : ''}
                                        ${appointment.age ? `<label for="label1">${appointment.age} years</label>` : ''}
                                        </div>
                                        <div>
                                        <label for="label2"><i class="fa-solid fa-phone me-2"></i>${appointment.appointment_mobileno}</label>
                                        </div>
                                    </div>
                                    
                                    <div class="label-row">
                                        <div>
                                        ${appointment.createdon !== null ? `
                                            <label for="label1" id="disabledLink" class="label-link">${appointment.createdon}</label>
                                        ` : ''}
                                        </div>
                                        <div>
                                        <label for="label2" style="border-radius:7px;color:white;background-color: ${
                                            appointment.appointment_status === 1 ? 'rgb(240, 53, 56)' :
                                            (appointment.appointment_status === 2 ? 'rgb(240, 190, 53)' :
                                            (appointment.appointment_status === 3 ? 'green' : 'green'))}">
                                            ${appointment.appointment_status === 1 ? 'Uncompleted' :
                                                (appointment.appointment_status === 2 ? 'Partially Completed' :
                                                    // (appointment.appointment_status === 3 ? 'Completed' : ''))
                                                    (appointment.appointment_status === 3 ? 'Completed' : (appointment.appointment_status === 4 ? 'Completed and Paid' : '')))}
                                        </label>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        `;
                         
                    }).join('');
                    // Set the updated HTML content
                    dataContainer.innerHTML = html;
                    dataContainer.style.display = 'block';
                    // Hide the placeholder message
                    document.getElementById('noAppointmentsMessage').style.display = 'none';
                }
            }
             

            function getAppointmentLink(appointment) {
                if (appointment.appointment_status > 1 && role === 'Doctor') {
                    return `/MahiEHR/consultation/${appointment.appointment_id}`;
                } else if (appointment.appointment_status >= 3 && role !== 'Doctor') {
                    // Add your custom link for appointment_status === 3 and role is not 'Doctor'
                    return `/MahiEHR/for_user/${appointment.appointment_id}` ;
                }else if (appointment.appointment_status === 2 && role !== 'Doctor') {
                    return `/MahiEHR/initial_assesment/${appointment.appointment_id}`;
                    
                }else {
                    // return `/MahiEHR/initial_assesment/${appointment.appointment_id}`;
                    return `/MahiEHR/patientselect/${appointment.appointment_id}`;
                }
            }
        });
        // Define handleInfoIconClick function in a global scope
        const handleInfoIconClick = (event) => {
                event.preventDefault(); // Prevent default link behavior
                const appointmentId = event.target.dataset.appointmentId; // Get appointment_id from the clicked element's dataset
                console.log(appointmentId);

                // Implement custom logic for the info icon click here (e.g., redirect to another page)
                window.location.href = `/MahiEHR/patient_history/${appointmentId}`; // Example: Navigate to another screen
            };
    </script>

<!-- <script>
    // Function to calculate and update appointment statistics
    function updateAppointmentStats(data) {
        const totalAppointments = data.length;
        const completedAppointments = data.filter(appointment => appointment.appointment_status === 3).length;
        const paidAppointments = data.filter(appointment => appointment.appointment_status === 4).length;
        const pendingAppointments = data.filter(appointment => appointment.appointment_status === 1).length;
        const partiallyCompletedAppointments = data.filter(appointment => appointment.appointment_status === 2).length;

        // Update the HTML content with the calculated values
        document.getElementById('totalAppointments').textContent = totalAppointments;
        document.getElementById('completedAppointments').textContent = completedAppointments;
        document.getElementById('paidAppointments').textContent = paidAppointments;
        document.getElementById('pendingAppointments').textContent = pendingAppointments;
        document.getElementById('partiallyCompletedAppointments').textContent = partiallyCompletedAppointments;
    }

    // Function to fetch data based on selected date
    function fetchData(selectedDate) {
        $.ajax({
            type: 'POST',
            url: '/MahiEHR/fetch_data/',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                selectedDate: selectedDate,
            },
            success: function (response) {
                //updateData(response); // Update appointment list
                updateAppointmentStats(response); // Update appointment stats
            }
        });
    }

    // Event listener for date input change
    $('#dateInput').on('change', function () {
        var selectedDate = $(this).val();
        fetchData(selectedDate);
    });

    // Initial fetch for current date on page load
    var currentDate = new Date().toISOString().split('T')[0];
    fetchData(currentDate);
</script> -->

<script>
    // Function to calculate and update appointment and collection statistics
    function updateStats(data) {
        const totalAppointments = data.length;
        const completedAppointments = data.filter(appointment => appointment.appointment_status === 3).length;
        const paidAppointments = data.filter(appointment => appointment.appointment_status === 4).length;
        const pendingAppointments = data.filter(appointment => appointment.appointment_status === 1).length;
        const partiallyCompletedAppointments = data.filter(appointment => appointment.appointment_status === 2).length;

        // Update appointment statistics in the HTML
        document.getElementById('totalAppointments').textContent = totalAppointments;
        document.getElementById('completedAppointments').textContent = completedAppointments;
        document.getElementById('paidAppointments').textContent = paidAppointments;
        document.getElementById('pendingAppointments').textContent = pendingAppointments;
        document.getElementById('partiallyCompletedAppointments').textContent = partiallyCompletedAppointments;
        const role = "{{ role }}";
        if (role === 'Doctor') {
            // Calculate collection-related statistics
                const totalAmount = data.reduce((total, appointment) => {
                    if (appointment.appointment_status === 3 || appointment.appointment_status === 4) {
                        return total + parseFloat(appointment.consult_fee);
                    } else {
                        return total;
                    }
                }, 0);

                const paidAmount = data.reduce((total, appointment) => {
                    if (appointment.appointment_status === 4) {
                        return total + parseFloat(appointment.consult_fee);
                    } else {
                        return total;
                    }
                }, 0);

                const unpaidAmount = data.reduce((total, appointment) => {
                    if (appointment.appointment_status === 3) {
                        return total + parseFloat(appointment.consult_fee);
                    } else {
                        return total;
                    }
                }, 0);

                // Update collection statistics in the HTML
                document.getElementById('totalAmount').textContent = totalAmount.toFixed(2); // Display total amount
                document.getElementById('paidAmount').textContent = paidAmount.toFixed(2); // Display paid amount
                document.getElementById('unpaidAmount').textContent = unpaidAmount.toFixed(2); // Display unpaid amount

        }
        // // Calculate collection-related statistics
        // const totalAmount = data.reduce((total, appointment) => {
        //     if (appointment.appointment_status === 3 || appointment.appointment_status === 4) {
        //         return total + parseFloat(appointment.consult_fee);
        //     } else {
        //         return total;
        //     }
        // }, 0);

        // const paidAmount = data.reduce((total, appointment) => {
        //     if (appointment.appointment_status === 4) {
        //         return total + parseFloat(appointment.consult_fee);
        //     } else {
        //         return total;
        //     }
        // }, 0);

        // const unpaidAmount = data.reduce((total, appointment) => {
        //     if (appointment.appointment_status === 3) {
        //         return total + parseFloat(appointment.consult_fee);
        //     } else {
        //         return total;
        //     }
        // }, 0);

        // // Update collection statistics in the HTML
        // document.getElementById('totalAmount').textContent = totalAmount.toFixed(2); // Display total amount
        // document.getElementById('paidAmount').textContent = paidAmount.toFixed(2); // Display paid amount
        // document.getElementById('unpaidAmount').textContent = unpaidAmount.toFixed(2); // Display unpaid amount
    }

    // Function to fetch data based on selected date
    function fetchData(selectedDate) {
        $.ajax({
            type: 'POST',
            url: '/MahiEHR/fetch_data/',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                selectedDate: selectedDate,
            },
            success: function (response) {
                updateStats(response); // Update appointment and collection stats
            }
        });
    }

    // Event listener for date input change
    $('#dateInput').on('change', function () {
        var selectedDate = $(this).val();
        fetchData(selectedDate);
    });

    // Initial fetch for current date on page load
    var currentDate = new Date().toISOString().split('T')[0];
    fetchData(currentDate);
</script>

 


</body>

</html>
