{% load static %}
{% load pwa %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Initial Assesment</title>
    <link rel="manifest" href="{% static 'assets/manifest.json' %}"> 
    <link rel="shortcut icon" href="{% static 'assets/img/mahi.png' %}">
    <!-- !-- Bootstrap CSS --> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Icons CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.0.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&amp;display=swap"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
        .navbar-orange {
          background-color:#A52028;
          box-shadow: 0px 4px 8px;
        }
        .navbar-brand{
            color: #ffffff;
        }
        .btn1{
            color:#000000 ;
            background-color: #ffffff;

        }

        .label-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      /* .input-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        color: inherit;
        text-decoration: none;
        margin-bottom:5px ;
      }

      .input-row label {
        flex: 1;
        text-align: center;
        padding-right: 0px;
        font-size: 20px;
        text-decoration: none;
        
      }

      .input-row input {
        flex: 2;
        width: 100%;
        margin: 5px;
        padding: 5px;
        box-sizing: border-box;
      } */

      .row {
        display: flex;
        align-items: right;
      }

      .form-control{
        border-color: #000000;
      }

      /* Loader styles */
        #loader {
          position: fixed;
          left: 30%;
          top: 30%;
          transform: translate(-50%, -50%);
          border: 16px solid #f3f3f3;
          border-radius: 50%;
          border-top: 16px solid #f5873e;
          width: 120px;
          height: 120px;
          -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
          display: none;
          z-index: 1000;
      }

      @-webkit-keyframes spin {
          0% {
              -webkit-transform: rotate(0deg);
          }

          100% {
              -webkit-transform: rotate(360deg);
          }
      }

      @keyframes spin {
          0% {
              transform: rotate(0deg);
          }

          100% {
              transform: rotate(360deg);
          }
      }

        
    </style>
  </head>
  <body>
    <div id="overlay" style="display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.5); z-index:9999;"></div>
    <div id="loader"></div>
    <form id="myForm" method="post" {% if vital_data %}action="{% url   'update_initial_assesment' %}"{% else %}action="{% url  'initial_assesment' data1.appointment_id %}"{% endif %}>
        {% csrf_token %}
        <nav class="navbar navbar-orange fixed-top">
            <div class="container-fluid">
              
              <a class="navbar-brand"  href="{% url 'get_all_doctor_appointments' %}"><i class="fas fa-arrow-left"> </i> Initial Assesment</a>     
              <button type="submit" class="btn btn-light mx-3" style="background-color:#ffffff;color: #000000;">
                <i class="fas fa-save"></i> 
                  {%if vital_data %}
                    Update
                  {%else%}
                    Save
                  {%endif%}

                  
              </button>
            </div>
          </nav>
        
        <!--initial Assesment---------------------------------------------------------------->
        <div class="container mb-2 " style="margin-top:20%;">
          
          <div class="card p-2">
                <div class="row">
                  <!-- {{data}} -->
                   <!-- {{vitals_id }}  -->
                <input type="hidden" name="appointment_id" value={{data1.appointment_id}} />
                <div class="label-row d-flex flex-start">
                  <label for="label1" style="font-size: 20px;">Patient:  </label>
                  <input type="text" class="form-control form-control-sm me-4 ms-1" style="font-size: 16px;"  id="patient_name" name="patient_name" value="{% if data1 %}{{ data1.appointment_name }}{% endif %}">
                  <i class="fa-solid fa-user-group" style="color: #008373;font-size: 20px;"></i>
                  <label for="label2"style="font-size: 20px; ">  {{data1.appointment_token}}</label>
                </div>
                <div class="label-row mt-2">
                  <!-- <div style="font-size: 20px;">
                      {% if data1.appointment_gender == 0 %}
                          SEX: M
                      {% else %}
                          SEX: F
                      {% endif %}
                  </div> -->
                  <label for="sex" class="form-label" style="font-size: 20px;">Sex:
                     <select class="form-select-sm" style="margin-left: 30px; width: 50px; font-size: 16px;" id="sex" name="sex">
                              <option value="0" {% if data1.appointment_gender == 0 %}selected{% endif %}>M</option>
                              <option value="1" {% if data1.appointment_gender == 1 %}selected{% endif %}>F</option>
                      </select>
                  </label>

                  <label for="Outstanding" class="form-label" style="font-size: 20px;">Balance: {{data1.outstanding}} &#8377;</label>
                   

                </div>
              
                <div class="label-row d-flex flex-start">
                    <!-- <div style="font-size: 20px;">
                      {% if data1.age %}
                        Age: {{ data1.age }}
                      {% else %}
                        Age:  
                      {% endif %}
                    </div> -->
                    <!-- <label for="age" class="form-label" style="font-size: 20px;">Age:  </label>
                    <input type="number" class="form-control form-control-sm" id="age" name="age" style="margin-left: 30px;margin-right: 204px; font-size: 16px;" value="{% if data1.age %}{{ data1.age }}{% endif %}"> -->
                    <label for="Dob" class="form-label" style="font-size: 20px;">DOB:  </label>
                    <input type="date" class="form-control form-control-sm" style="margin-left: 26px;margin-right: 120px;" id="dob" name="dob" value="{% if data1.dob %}{{ data1.dob }}{% endif %}" required>
                     
                </div>
                <div class="label-row">
                        <label for="label1"style="font-size: 20px;">Mobile: {{data1.appointment_mobileno}}</label>
                        <!-- <label for="label2" style="font-size: 20px;"><i class="fa-solid fa-circle-user"></i> {{data1.appointment_status}}</label> -->
                        <label for="label2" style="font-size: 20px;">
                          <i class="fa-solid fa-circle-user"></i>
                          {% if data1.appointment_status == 1 %}
                              Open
                          {% elif data1.appointment_status == 2 %}
                              In Process
                          {% elif data1.appointment_status >= 3 %}
                              Completed
                          {% endif %}
                        </label>
                </div>
                
                <hr>
                  <input type ="hidden" value="{{data1.appointment_id }}" name = "patient_id"/>
                  <input type ="hidden" value="{{data1.doctor_id}}" name = "doctor_id"/>
                  <input type ="hidden" value="{{data1.doctor_id}}" name = "operator_id"/>
                  <input type = "hidden" value="{{data1.appointment_mobileno}}" name = "phoneno"/>
                  <input type = "hidden" value="{{data1.patient_id}}" name = "patient_id"/>
                  
                  <div class="d-flex flex-start">
                    <label for="inputWeight" class="col-5" style="font-size: 18px;">Weight</label>
                    <input type="number" id="inputWeight" class="form-control form-control-sm me-2" style="width: 150px; font-size: 16px;" name="weight" value="{% if vital_data.weight %}{{vital_data.weight}}{%endif%}" placeholder=" " >
                    <label for="inputWeight" style="font-size: 18px;">Kg</label>
                  </div>
                  <div class="d-flex flex-start mt-2">
                    <label for="" class="col-5" style="font-size: 18px;">Height</label>
                    <input type="text" id="inputHeight" class="form-control form-control-sm me-2" name="height" placeholder=" " value="{% if vital_data.height %}{{vital_data.height}}{%endif%}"  style="margin-right:01% ; font-size: 16px;" >
                    <label for="inputHeight" style="font-size: 18px;">cm</label>
                  </div>
                  <div class="d-flex flex-start mt-2">
                    <label for="" class="col-5" style="font-size: 18px;">BMI</label>
                    <input type="text" id="inputBMI" class="form-control form-control-sm me-2 " name="bmi" placeholder=" " value="{% if vital_data.bmi %}{{vital_data.bmi}}{%endif%}" readonly style="margin-right:01% ;font-size: 16px;" >
                    <label for="inputBMI" style="font-size: 18px;">kg/m&sup2;</label>
                  </div>
                  <div class="d-flex flex-start mt-2">
                    <label for="input1" class="col-5" style="font-size: 18px;">Temperature</label>
                    <input type="number" id="input2" class="form-control form-control-sm me-2" style="width: 150px; font-size: 16px;" name="temp" value="{% if vital_data.patient_temparature %}{{vital_data.patient_temparature}}{%endif%}" placeholder=" "  >
                    <label for="input1" style="font-size: 18px;">(°F)</label>
                  </div>
                  <div class="d-flex flex-start mt-2">
                    <label for="input1" class="col-5" style="font-size: 18px;">Blood Pressure</label>
                    <input type="number" id="input1" class="form-control form-control-sm me-1" style="width: 60px; font-size: 16px;" name="bp_s" value="{% if vital_data.patient_bpsystolic %}{{vital_data.patient_bpsystolic}}{%endif%}" placeholder=" " >
                    <label for="input1" class="me-1" style="font-size: 20px;">/</label>
                    <input type="number" id="input2" class="form-control form-control-sm me-1" style="width: 60px; font-size: 16px;" name="bp_d" value="{% if vital_data.patient_bpdistolic %}{{vital_data.patient_bpdistolic}}{%endif%}" placeholder=" " >
                    <label for="input1" style="font-size: 17px;">Sis/Dia</label>
                  </div>
      
                  
                  <div class="d-flex flex-start mt-2">
                    <label for="Heart_rate" class="col-5" style="font-size: 18px;">Heart Rate</label>
                    <input type="number" id="inputField" class="form-control form-control-sm me-1" style="width: 120px;font-size: 16px;" name="heart_rate" value="{% if vital_data.patient_heartratepluse %}{{vital_data.patient_heartratepluse}}{%endif%}" placeholder=" "   style="margin-right:01% ;" >
                    <label for="" class=" p-1" style="font-size: 18px;">Per/min</label>
                  </div>

                  <div class="d-flex flex-start mt-2">
                    <label for="" class="col-5" style="font-size: 18px;">Respiratory Rate</label>
                    <input type="number" id="inputField" class="form-control form-control-sm me-2" name="respiratory_rate" value="{% if vital_data.patient_respiratoryrate %}{{vital_data.patient_respiratoryrate}}{%endif%}" placeholder=" "  style="margin-right:01% ; font-size: 16px;" >
                  </div>

                  <!-- <div class="d-flex flex-start mt-2">
                    <label for="" class="col-5" style="font-size: 18px;">Pain Scale</label>
                    <input type="number" id="inputField" class="form-control form-control-sm me-2" name="pain_scale" value="{{vital_data.patient_painscale}}" placeholder=" " required style="margin-right:01% ; font-size: 16px;" >
                  </div> -->
                  <div class="d-flex flex-start mt-2">
                    <label for="" class="col-5" style="font-size: 18px;">Pain Scale</label>
                    <select id="inputField" class="form-control form-control-sm me-2" name="pain_scale"  style="margin-right: 1%; font-size: 16px;">
                        <option value="" disabled selected>Select Pain Scale</option>
                        {% for value in pain_scale_range %}
                            <option value="{{ value }}" {% if value == vital_data.patient_painscale %} selected {% endif %}>{{ value }}</option>
                        {% endfor %}
                    </select>
                  </div>

                  <div class="d-flex flex-start mt-2">
                    <label for="" class="col-5" style="font-size: 18px;">Chest</label>
                    <input type="text" id="inputField" class="form-control form-control-sm me-2" name="chest" placeholder=" " {% if vital_data.patient_chest != '0' %} value="{{vital_data.patient_chest}}" {%endif%}   style="margin-right:1% ;font-size: 16px;">
                  </div>
                  <div class="d-flex flex-start mt-2">
                    <label for="" class="col-5" style="font-size: 18px;">ECG</label>
                    <textarea id="inputField" class="form-control form-control-sm me-2" name="ecg" placeholder=" "  style="margin-right: 1%; font-size: 16px; height: 50px;">{% if vital_data.patient_ecg != '0' %}{{ vital_data.patient_ecg }}{%endif%}</textarea>
                  </div>
                  <div class="d-flex flex-start mt-2">
                    <label for="" class="col-5" style="font-size: 18px;">Aadhar No.</label>
                    <input type="text" class="form-control form-control-sm me-2" name="aadharNumber" value="{% if data1.aadharnumber %}{{data1.aadharnumber}}{% endif %}" pattern="[0-9]{12}" title="Please enter a valid 12-digit Aadhar number" placeholder="Aadhar Number">
                  </div>
                  <div class="d-flex flex-start mt-2">
                    <label for="" class="col-5" style="font-size: 18px;">Health Id</label>
                    <input type="number" id="inputField" class="form-control form-control-sm me-2" name="health_id" value="{% if data1.health_id %}{{data1.health_id}}{% endif %}" placeholder=" "  style="margin-right:01% ; font-size: 16px;" >
                   
                  </div>
                  <!-- <div class="d-flex flex-start mt-2">
                    <label for="" class="col-5" style="font-size: 18px;">ECG</label>
                    <input type="text" id="inputField" class="form-control form-control-sm me-2" name="ecg" placeholder=" " value="{{vital_data.patient_ecg}}" required style="margin-right:01% ; font-size: 16px;" >
                  </div> -->
                  <!-- <div class="d-flex flex-start mt-2">
                    <label for="" class="col-5" style="font-size: 18px;">Height(cm)</label>
                    <input type="text" id="inputHeight" class="form-control form-control-sm me-2" name="height" placeholder=" " value="{{vital_data.height}}" required style="margin-right:01% ;" >
                  </div>
                  <div class="d-flex flex-start mt-2">
                    <label for="" class="col-5" style="font-size: 18px;">BMI</label>
                    <input type="text" id="inputBMI" class="form-control form-control-sm me-2 " name="bmi" placeholder=" " value="{{vital_data.bmi}}" readonly style="margin-right:01% ;" >
                  </div> -->
                  </div>
                    
              </div>
            </div>
          
            <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary btn-save" style="background-color: #A52028; border-color:#A52028;" ><span class="fas fa-save" style="color: #FFFFFF;" ></span>
                  {%if vital_data %}
                    Update 
                  {%else%}
                    Save 
                  {%endif%}
                </button>
            </div>
          </div>
          
            </div>
    </form>
    {%if request.session.subscription_status == 'inactive' %}
        {% include "Doctor/popup.html" %}
    {%endif%}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Your existing JavaScript code -->
    <script>
        // Function to calculate BMI
        function calculateBMI() {
            // Get the values of weight and height
            let weight = document.getElementById('inputWeight').value;
            let height = document.getElementById('inputHeight').value;
            
            // Convert height from cm to meters
            height /= 100;
            
            // Validate weight and height to ensure they have values and are greater than zero
            if (weight && height > 0) {
              // Calculate BMI
              let bmi = (weight / (height * height)).toFixed(2); // Rounded to 2 decimal places

              // Display BMI in the BMI input field
              document.getElementById('inputBMI').value = bmi;
            } else {
              // Clear the BMI input field if values are invalid
              document.getElementById('inputBMI').value = '';
            }
        }
        
        // Event listener for input fields
        document.getElementById('inputWeight').addEventListener('input', calculateBMI);
        document.getElementById('inputHeight').addEventListener('input', calculateBMI);
    </script>
    <script>
      // Handle form submission
      $('#myForm').on('submit', function(e) {
          $('.btn').prop('disabled', true); // Disable the save button
          $('#loader').show(); // Show the loader
          $('#overlay').show(); // Show the overlay to disable the page
      });
    </script> 
</body>
</html>
