<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services Not Available</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            text-align: center;
            padding: 20px;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>

<body>
    <!-- <h1>Services Not Available</h1> -->
    <p>We apologize for the inconvenience. The requested services are currently not available.</p>
    <img src="https://docs.cs-cart.com/latest/_images/error_db.png" alt="Not Available Image">
</body>

</html>
